body{

}

.text{
margin-left: 48%;
  margin-top: 120px;
    font-size:300%;
      font-family: 'Montserrat', sans-serif;
}

.button{
margin-left: 51%;
  font-size:50px;

}

.page-header{
  margin-left: 30%;
    font-size:200%;
      font-family: 'Montserrat', sans-serif;
}

.mini{
  margin-left:32%;
    font-size:200%;
      font-family: 'Montserrat', sans-serif;
}
